@import url("https://fonts.googleapis.com/css2?family=Didot:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+New:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-courier-new: "Courier New";
  --font-didot: Didot;
  --font-chopsic: Chopsic;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 15px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 29px;
  --font-size-3xl: 30px;
  --font-size-4xl: 32px;
  --font-size-5xl: 35px;
  --font-size-6xl: 36px;

  /* Colors */
  --color-indianred-100: #b9414d;
  --color-indianred-200: #b83d49;
  --color-white: #fff;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(232, 232, 232, 0.37);
  --color-black: #000;
  --color-gray-100: #7c7c7c;
  --color-gray-200: #0b0b0b;
  --color-sienna: #893d36;
  --color-whitesmoke-100: #f6f6f6;
  --color-mistyrose: #ffe4e4;
  --color-red: #ff1e00;
  --color-mediumseagreen: #25ab75;

  /* Gaps */
  --gap-2xs: 1px;
  --gap-xs: 6px;
  --gap-sm: 12px;
  --gap-md: 18px;
  --gap-lg: 19px;
  --gap-xl: 22px;
  --gap-2xl: 50px;

  /* Paddings */
  --padding-11xs: 1px;
  --padding-10xs: 2px;
  --padding-9xs: 10px;
  --padding-8xs: 20px;
  --padding-7xs: 23.55217933654785px;
  --padding-6xs: 25px;
  --padding-5xs: 27px;
  --padding-4xs: 30px;
  --padding-3xs: 33px;
  --padding-2xs: 38px;
  --padding-xs: 40px;
  --padding-sm: 50px;
  --padding-md: 58px;
  --padding-lg: 60px;
  --padding-xl: 69px;
  --padding-2xl: 80px;
  --padding-3xl: 84px;
  --padding-4xl: 90px;
  --padding-5xl: 100px;
  --padding-6xl: 115px;
  --padding-7xl: 120px;
  --padding-8xl: 150px;
  --padding-9xl: 180px;
  --padding-10xl: 184px;
  --padding-11xl: 200px;

  /* border radiuses */
  --br-sm: 10px;
  --br-md: 30px;
  --br-lg: 200px;
}

@keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .video-section,
  .wrapper {
    align-self: stretch;
    overflow: hidden;
  }
  .video-section {
    flex: 1;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .heading,
  .paragraph {
    margin: 0;
    align-self: stretch;
    flex: 1;
    position: relative;
    letter-spacing: -0.04em;
    line-height: 26.25px;
  }
  .heading {
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .paragraph {
    font-size: var(--font-size-base);
    padding-top: var(--padding-4xs);
  }
  .perfectcontainer,
  .perfectfit {
    align-self: stretch;
    overflow: hidden;
    display: flex;
  }
  .perfectcontainer {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-8xs);
    align-items: center;
    justify-content: center;
  }
  .perfectfit {
    background-color: var(--color-indianred-200);
    height: 167px;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-6xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .b8af48-94c0-438c-b13b-b24898e1-icon {
    position: relative;
    width: 654px;
    height: 426px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .b8af48-94c0-438c-b13b-b24898e1-wrapper {
    background-color: var(--color-whitesmoke-100);
    width: 707px;
    height: 426px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .b8af48-94c0-438c-b13b-b24898e1-wrapper:hover
    .b8af48-94c0-438c-b13b-b24898e1-icon {
    animation: 3s ease 0s 1 normal none scale-up;
    opacity: 1;
  }
  .a-symphony-of,
  .timeless-and-comfy1 {
    margin: 0;
    align-self: stretch;
    position: relative;
  }
  .timeless-and-comfy1 {
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .a-symphony-of {
    font-size: var(--font-size-base);
    letter-spacing: -0.04em;
    line-height: 26.25px;
    color: var(--color-gray-100);
    display: inline-block;
    height: 52px;
    flex-shrink: 0;
  }
  .timeless-and-comfy,
  .timeless-and-comfy-parent {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  .timeless-and-comfy-parent {
    flex: 1;
    background-color: var(--color-gainsboro-300);
    flex-direction: column;
    padding: var(--padding-7xl) var(--padding-xl) var(--padding-9xl);
    align-items: center;
    gap: var(--gap-md);
  }
  .timeless-and-comfy {
    background-color: var(--color-white);
    height: 426px;
    flex-shrink: 0;
    flex-direction: row;
    padding: var(--padding-8xs) 0;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-sienna);
    font-family: var(--font-poppins);
  }
  .a-chic-addition,
  .fashion-meets-comfort1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    letter-spacing: -0.04em;
    line-height: 26.25px;
  }
  .fashion-meets-comfort1 {
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
  }
  .a-chic-addition {
    flex: 1;
    font-size: var(--font-size-base);
  }
  .fashion-meets-comfort-parent {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-indianred-200);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding-7xl) var(--padding-xl) var(--padding-9xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-md);
  }
  .bf4bbc2-fc97-4098-a059-84c422c-icon {
    position: relative;
    width: 672px;
    height: 438px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .bf4bbc2-fc97-4098-a059-84c422c-wrapper,
  .fashion-meets-comfort {
    background-color: var(--color-indianred-200);
    height: 426px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bf4bbc2-fc97-4098-a059-84c422c-wrapper {
    width: 707px;
    flex-direction: column;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
  }
  .bf4bbc2-fc97-4098-a059-84c422c-wrapper:hover
    .bf4bbc2-fc97-4098-a059-84c422c-icon {
    animation: 3s ease-in 0s 1 normal none scale-up;
    opacity: 1;
  }
  .fashion-meets-comfort {
    align-self: stretch;
    flex-direction: row;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .ac2693bf-7a07-48d4-a00a-25b67c-icon {
    position: relative;
    width: 646px;
    height: 420px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .ac2693bf-7a07-48d4-a00a-25b67c-wrapper {
    background-color: var(--color-whitesmoke-100);
    width: 707px;
    height: 426px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-3xs) 0 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ac2693bf-7a07-48d4-a00a-25b67c-wrapper:hover
    .ac2693bf-7a07-48d4-a00a-25b67c-icon {
    animation: 3s ease 0s 1 normal none scale-up;
    opacity: 1;
  }
  .cosy-style1,
  .thoughtfully-crafted-footwear {
    margin: 0;
    align-self: stretch;
    position: relative;
  }
  .cosy-style1 {
    font-size: inherit;
    font-weight: 600;
    font-family: inherit;
  }
  .thoughtfully-crafted-footwear {
    flex: 1;
    font-size: var(--font-size-base);
    letter-spacing: -0.04em;
    line-height: 26.25px;
    color: var(--color-gray-100);
  }
  .cosy-style,
  .cosy-style-parent {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  .cosy-style-parent {
    flex: 1;
    background-color: var(--color-gainsboro-300);
    flex-direction: column;
    padding: var(--padding-7xl) var(--padding-xl) var(--padding-9xl);
    align-items: center;
    gap: var(--gap-md);
  }
  .cosy-style {
    background-color: var(--color-white);
    height: 426px;
    flex-shrink: 0;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-sienna);
    font-family: var(--font-poppins);
  }
  .combining-function-and,
  .function-fashionably1 {
    margin: 0;
    position: relative;
    letter-spacing: -0.04em;
    display: inline-block;
  }
  .function-fashionably1 {
    font-weight: 500;
    width: 416px;
    height: 60px;
    flex-shrink: 0;
  }
  .combining-function-and {
    font-size: var(--font-size-lg);
    line-height: 34.3px;
    color: #4f4f4f;
    width: 512px;
  }
  .function-fashionably-parent {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-gainsboro-100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 213px var(--padding-md) var(--padding-5xl);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .be79a2-ab6d-4a12-9499-2f5d55d8-icon {
    position: relative;
    width: 720px;
    height: 630px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .be79a2-ab6d-4a12-9499-2f5d55d8-wrapper {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-dimgray-100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .function-fashionably {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-brown);
    font-family: var(--font-poppins);
  }
  .function-fashionably,
  .gif-section,
  .gif-section-child {
    align-self: stretch;
    overflow: hidden;
  }
  .gif-section-child {
    flex: 1;
  }
  .gif-section {
    background-color: var(--color-white);
    height: 550px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .a1a36b-b0d4-4ab7-b4e0-7709675b-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .a1a36b-b0d4-4ab7-b4e0-7709675b-wrapper,
  .ada71205-d6db-4e3a-887e-56ec7f-wrapper {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .a1a36b-b0d4-4ab7-b4e0-7709675b-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-9xs) 0 0;
  }
  .ada71205-d6db-4e3a-887e-56ec7f-wrapper {
    flex-direction: column;
  }
  .eaad5854-a23c-4935-be50-99eab4-wrapper {
    align-self: stretch;
    flex: 1;
    background-color: #fdfdfd;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
  }
  .eaad5854-a23c-4935-be50-99eab4-wrapper,
  .frame-parent,
  .gallery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
  }
  .gallery {
    background-color: var(--color-white);
    width: 1436px;
    height: 1062px;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: row;
  }
  .desimage-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .magiccontainer,
  .magicdetail {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .magiccontainer {
    flex: 1;
  }
  .magicdetail {
    background-color: var(--color-white);
    height: 501px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .customer-reviews,
  .jg {
    position: relative;
    letter-spacing: -0.04em;
    line-height: 26.25px;
    font-weight: 500;
  }
  .jg {
    position: absolute;
    top: 0;
    left: 7px;
  }
  .ef-aadb-4f47-9961-fed46d093f01-icon {
    position: relative;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .ef-aadb-4f47-9961-fed46d093f01-parent {
    position: absolute;
    top: 5px;
    left: 56px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-2xs);
  }
  .jg-parent,
  .the-cai-store {
    position: relative;
    width: 165px;
    height: 27px;
    flex-shrink: 0;
    font-size: var(--font-size-2xl);
  }
  .the-cai-store {
    font-size: var(--font-size-sm);
    letter-spacing: -0.04em;
    line-height: 26.25px;
    display: inline-block;
    width: 349px;
    height: 25px;
  }
  .customer-reviews-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
  }
  .from-the-point,
  .pg-parent {
    position: relative;
    width: 165px;
    height: 27px;
    flex-shrink: 0;
  }
  .from-the-point {
    font-size: var(--font-size-sm);
    letter-spacing: -0.04em;
    line-height: 26.25px;
    display: inline-block;
    width: 349px;
    height: 64px;
  }
  .frame-container,
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-container {
    gap: var(--gap-sm);
    font-size: var(--font-size-2xl);
  }
  .frame-group {
    align-self: stretch;
    flex: 1;
    background-color: var(--color-indianred-200);
    overflow: hidden;
    padding: var(--padding-3xl) var(--padding-xs);
    gap: var(--gap-xl);
  }
  .bcd071-f99b-436c-bc36-38a5bfa4-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .bcd071-f99b-436c-bc36-38a5bfa4-wrapper {
    align-self: stretch;
    background-color: var(--color-indianred-100);
    overflow: hidden;
    flex-direction: column;
  }
  .bcd071-f99b-436c-bc36-38a5bfa4-wrapper,
  .new-cai,
  .review {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .review {
    align-self: stretch;
    background-color: var(--color-indianred-200);
    height: 467px;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: row;
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .new-cai {
    position: relative;
    width: 100%;
    flex-direction: column;
  }
  @media screen and (max-width: 1200px) {
    .video-section {
      height: 100%;
    }
    .paragraph {
      font-size: var(--font-size-base);
    }
    .b8af48-94c0-438c-b13b-b24898e1-wrapper {
      align-items: center;
      justify-content: center;
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
    .timeless-and-comfy-parent {
      flex-direction: column;
    }
    .timeless-and-comfy {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 0;
      box-sizing: border-box;
    }
    .fashion-meets-comfort-parent {
      flex-direction: column;
    }
    .bf4bbc2-fc97-4098-a059-84c422c-wrapper {
      align-items: center;
      justify-content: center;
      padding-left: var(--padding-4xl);
      padding-right: var(--padding-4xl);
      box-sizing: border-box;
    }
    .fashion-meets-comfort {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 0;
      box-sizing: border-box;
    }
    .ac2693bf-7a07-48d4-a00a-25b67c-wrapper {
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .cosy-style-parent {
      flex-direction: column;
    }
    .cosy-style {
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 0;
      box-sizing: border-box;
    }
    .be79a2-ab6d-4a12-9499-2f5d55d8-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .frame-parent {
      flex-direction: column;
    }
    .magicdetail {
      flex: 1;
      flex-direction: row;
    }
    .bcd071-f99b-436c-bc36-38a5bfa4-icon {
      align-self: stretch;
      width: auto;
    }
    .bcd071-f99b-436c-bc36-38a5bfa4-wrapper {
      flex: 1;
    }
  }
  @media screen and (max-width: 960px) {
    .paragraph {
      font-size: var(--font-size-xs);
    }
    .b8af48-94c0-438c-b13b-b24898e1-wrapper {
      width: 100%;
      align-self: stretch;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: var(--padding-10xl);
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
    .timeless-and-comfy-parent {
      padding: var(--padding-6xs) var(--padding-2xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .timeless-and-comfy {
      width: auto;
      height: auto;
      flex-direction: column;
      padding-bottom: 0;
      box-sizing: border-box;
    }
    .fashion-meets-comfort-parent {
      padding: var(--padding-6xs) var(--padding-2xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .bf4bbc2-fc97-4098-a059-84c422c-wrapper {
      width: 100%;
      align-self: stretch;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: var(--padding-10xl);
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
    .fashion-meets-comfort {
      width: auto;
      height: auto;
      flex-direction: column-reverse;
      padding-bottom: 0;
      box-sizing: border-box;
    }
    .ac2693bf-7a07-48d4-a00a-25b67c-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .ac2693bf-7a07-48d4-a00a-25b67c-wrapper {
      width: 100%;
      align-self: stretch;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: var(--padding-10xl);
      padding-right: var(--padding-10xl);
      box-sizing: border-box;
    }
    .cosy-style-parent {
      padding: var(--padding-6xs) var(--padding-2xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .cosy-style {
      width: auto;
      height: auto;
      flex-direction: column;
      padding-bottom: 0;
      box-sizing: border-box;
    }
    .combining-function-and {
      font-size: var(--font-size-base);
    }
    .function-fashionably-parent {
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: var(--padding-xs);
      padding-bottom: var(--padding-xs);
      box-sizing: border-box;
    }
    .be79a2-ab6d-4a12-9499-2f5d55d8-wrapper,
    .function-fashionably-parent {
      flex: unset;
      align-self: stretch;
    }
    .function-fashionably {
      flex-direction: column;
    }
    .gif-section-child {
      flex: unset;
      align-self: stretch;
    }
    .gif-section {
      width: 100%;
      height: 100%;
      flex-direction: column;
    }
    .a1a36b-b0d4-4ab7-b4e0-7709675b-wrapper {
      flex: unset;
      align-self: stretch;
      height: auto;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .frame-parent {
      flex: unset;
      align-self: stretch;
      height: auto;
      flex-direction: column;
    }
    .gallery {
      width: 100%;
      flex-direction: column;
    }
    .magiccontainer {
      flex-direction: row;
      flex: unset;
      align-self: stretch;
    }
    .magicdetail {
      flex-direction: column;
    }
    .frame-group {
      flex: unset;
      align-self: stretch;
    }
    .bcd071-f99b-436c-bc36-38a5bfa4-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .bcd071-f99b-436c-bc36-38a5bfa4-wrapper {
      flex-direction: row;
    }
    .review {
      width: auto;
      height: auto;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 420px) {
    .video-section {
      height: 100%;
    }
    .heading {
      font-weight: 600;
      font-family: var(--font-poppins);
      font-size: var(--font-size-2xl);
    }
    .paragraph {
      font-size: var(--font-size-xs);
    }
    .perfectcontainer {
      padding-top: var(--padding-9xs);
      padding-bottom: var(--padding-9xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .perfectfit {
      height: 200px;
      flex-direction: column;
      padding: 5px var(--padding-9xs);
      box-sizing: border-box;
    }
    .b8af48-94c0-438c-b13b-b24898e1-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .b8af48-94c0-438c-b13b-b24898e1-wrapper {
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .a-symphony-of {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .timeless-and-comfy-parent {
      flex: unset;
      align-self: stretch;
      height: auto;
      padding: var(--padding-6xs) var(--padding-4xs);
      box-sizing: border-box;
    }
    .timeless-and-comfy {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .a-chic-addition {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .fashion-meets-comfort-parent {
      flex: unset;
      align-self: stretch;
      height: auto;
      padding: var(--padding-6xs) var(--padding-4xs);
      box-sizing: border-box;
    }
    .bf4bbc2-fc97-4098-a059-84c422c-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .bf4bbc2-fc97-4098-a059-84c422c-wrapper {
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .fashion-meets-comfort {
      width: 100%;
      height: 100%;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
    .ac2693bf-7a07-48d4-a00a-25b67c-icon {
      width: 100%;
    }
    .ac2693bf-7a07-48d4-a00a-25b67c-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
    .cosy-style1 {
      font-size: var(--font-size-2xl);
    }
    .thoughtfully-crafted-footwear {
      font-size: var(--font-size-2xs);
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .cosy-style-parent {
      flex: unset;
      align-self: stretch;
      height: auto;
      padding: var(--padding-8xs) var(--padding-9xs);
      box-sizing: border-box;
    }
    .cosy-style {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    .combining-function-and,
    .function-fashionably1 {
      font-size: var(--font-size-2xl);
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .combining-function-and {
      font-size: var(--font-size-sm);
    }
    .function-fashionably-parent {
      padding: var(--padding-xs) var(--padding-8xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .be79a2-ab6d-4a12-9499-2f5d55d8-icon {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .be79a2-ab6d-4a12-9499-2f5d55d8-wrapper {
      flex: unset;
      align-self: stretch;
    }
    .function-fashionably {
      flex-direction: column;
    }
    .gif-section-child {
      flex: unset;
      align-self: stretch;
    }
    .gif-section {
      flex-direction: column;
    }
    .a1a36b-b0d4-4ab7-b4e0-7709675b-wrapper {
      padding-right: 0;
      padding-bottom: var(--padding-9xs);
      box-sizing: border-box;
      flex: unset;
      align-self: stretch;
    }
    .frame-parent {
      flex: unset;
      align-self: stretch;
    }
    .gallery {
      flex-direction: column;
    }
    .desimage-icon,
    .magiccontainer {
      flex: unset;
      align-self: stretch;
    }
    .magiccontainer {
      flex-direction: column;
    }
    .magicdetail {
      width: auto;
      height: auto;
      flex-direction: column;
    }
    .frame-group {
      flex: unset;
      align-self: stretch;
    }
    .review {
      height: auto;
      flex-direction: column-reverse;
    }
  }
  @media screen and (max-width: 350px) {
    .perfectfit {
      flex: 1;
    }
    .a1a36b-b0d4-4ab7-b4e0-7709675b-wrapper,
    .frame-parent {
      flex: unset;
      align-self: stretch;
    }
    .gallery {
      flex: 1;
      flex-direction: column;
    }
  }