.container {
    background-color: whitesmoke;
    color: green;
}

.change-color {
    position: relative;
    animation: slide-from-right 0.5s 1 ease-in-out forwards;
    background-color: green;
    color: white;
    overflow: hidden;
}

@keyframes slide-from-right {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}