.container{
    width: 100%;
    height: 100%;
    position: relative;
}

.image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hovertext{
    position: absolute;
    top:auto;
    left:5% ;
    z-index: 1;
    opacity: 0;
}

 .container:hover .hovertext{
    animation:showFromDown 0.5s ease-out forwards;
} 

@keyframes showFromDown {
    0%{
        top:60px;
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        top:30px;
        opacity: 1;
    }
}


/* p.hovertext{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    opacity: 0;
    transform: translateY(-100px);
} */