@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chopsic:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didot:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+New:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-playfair-display-sc: "Playfair Display SC";
  --font-inter: Inter;
  --font-courier-new: "Courier New";
  --font-didot: Didot;
  --font-chopsic: Chopsic;

  /* font sizes */
  --font-size-2xs: 12px;
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-base: 15px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 25px;
  --font-size-4xl: 30px;
  --font-size-5xl: 32px;
  --font-size-6xl: 35px;
  --font-size-7xl: 36px;

  /* Colors */
  --color-oldlace: #fff3e3;
  --color-darkslategray: #353535;
  --color-gray-100: #7c7c7c;
  --color-gray-200: #111;
  --color-gray-300: #0b0b0b;
  --color-black: #000;
  --color-indianred-100: #b9414d;
  --color-indianred-200: #b83d49;
  --color-white: #fff;
  --color-dimgray-100: #835151;
  --color-gainsboro-100: #e1e1e1;
  --color-gainsboro-200: #d9d9d9;
  --color-gainsboro-300: rgba(232, 232, 232, 0.37);
  --color-brown: #9a353a;
  --color-sienna: #893d36;
  --color-whitesmoke-100: #f6f6f6;
  --color-mistyrose: #ffe4e4;
  --color-red: #ff1e00;
  --color-mediumseagreen: #25ab75;

  /* Gaps */
  --gap-0: 0px;
  --gap-3xs: 6px;
  --gap-2xs: 10px;
  --gap-xs: 11px;
  --gap-sm: 12px;
  --gap-md: 15px;
  --gap-lg: 18px;
  --gap-xl: 19px;
  --gap-2xl: 22px;
  --gap-3xl: 50px;
  --gap-4xl: 110px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-11xs: 10px;
  --padding-10xs: 16px;
  --padding-9xs: 20px;
  --padding-8xs: 23.55217933654785px;
  --padding-7xs: 25px;
  --padding-6xs: 27px;
  --padding-5xs: 30px;
  --padding-4xs: 33px;
  --padding-3xs: 39px;
  --padding-2xs: 40px;
  --padding-xs: 48px;
  --padding-sm: 50px;
  --padding-md: 58px;
  --padding-lg: 59px;
  --padding-xl: 60px;
  --padding-2xl: 69px;
  --padding-3xl: 80px;
  --padding-4xl: 84px;
  --padding-5xl: 100px;
  --padding-6xl: 115px;
  --padding-7xl: 120px;
  --padding-8xl: 150px;
  --padding-9xl: 180px;
  --padding-10xl: 184px;
  --padding-11xl: 200px;

  /* border radiuses */
  --br-sm: 10px;
  --br-md: 30px;
  --br-lg: 200px;
}





@keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .bring-out-your,
  .perfect-fit1 {
    margin: 0;
    position: relative;
    line-height: 26.25px;
  }
  .perfect-fit1 {
    font-size: inherit;
    letter-spacing: 0.03em;
    font-weight: 900;
    font-family: inherit;
    display: inline-block;
    width: 355px;
    height: 59px;
    flex-shrink: 0;
  }
  .bring-out-your {
    align-self: stretch;
    flex: 1;
    font-size: 19px;
    color: #1a1a1a;
  }
  .perfect-fit,
  .perfect-fit-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .perfect-fit-parent {
    align-self: stretch;
    align-items: center;
    gap: var(--gap-2xs);
  }
  .perfect-fit {
    background-color: var(--color-oldlace);
    padding: var(--padding-sm) var(--padding-xs) 6px;
    align-items: flex-start;
    text-align: center;
    font-size: 51px;
    color: #060606;
    font-family: var(--font-playfair-display-sc);
  }
  .modeldesc,
  .perfect-fit,
  .sandles-image-1 {
    align-self: stretch;
    overflow: hidden;
  }
  .sandles-image-1 {
    flex: 1;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .modeldesc {
    background-color: var(--color-oldlace);
    display: flex;
    flex-direction: column;
    padding: 77px var(--padding-5xl);
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
  }
  .modeldesc.animate {
    animation: 1s ease-in 0.3s 1 normal forwards slide-in-top;
  }
  .a-symphony-of,
  .timeless-and-comfy {
    margin: 0;
    align-self: stretch;
    position: relative;
  }
  .timeless-and-comfy {
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    background: none;
    height: 40px;

  }
  .a-symphony-of {
    flex: 1;
    font-size: var(--font-size-lg);
    letter-spacing: -1px;
    line-height: 26px;
    font-weight: 300;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: justify;
  }
  .text-container {
    padding: 103px var(--padding-xs) var(--padding-9xs);
    gap: var(--gap-md);
  }
  .text-container.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-right;
  }
  .cai-image2-2-wrapper,
  .text-container {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
  }
  .cai-image2-2-wrapper.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-left;
  }
  .fashion3,
  .video-section1 {
    background-color: var(--color-oldlace);
  }
  .fashion3 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-11xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-4xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-gray-200);
    font-family: var(--font-playfair-display-sc);
  }
  .video-section1 {
    flex: 1;
    position: relative;
  }
  .bend-image-child,
  .video-section,
  .video-section1 {
    align-self: stretch;
    overflow: hidden;
  }
  .video-section {
    background-color: var(--color-oldlace);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xl) var(--padding-5xs) var(--padding-5xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bend-image-child {
    flex: 1;
    position: relative;
    max-width: 100%;
    max-height: 100%;
  }
  .bend-image {
    align-self: stretch;
    background-color: var(--color-oldlace);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cai-image4-4 {
    position: relative;
    width: 388px;
    height: 282px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .fashion-meets-comfort {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    background: none;
    height: 40px;
    color: #060606;
  }
  .a-chic-addition {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: 17px;
    letter-spacing: -0.04em;
    line-height: 25.3px;
    font-family: var(--font-poppins);
    color: var(--color-darkslategray);
    text-align: justify;
    display: inline-block;
    height: 100px;
    flex-shrink: 0;
  }
  .text-container1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-xs);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-md);
    opacity: 0;
  }
  .text-container1.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-right;
  }
  .gif-section,
  .gif-section-icon {
    background-color: var(--color-oldlace);
    overflow: hidden;
  }
  .gif-section-icon {
    flex: 1;
    border-radius: var(--br-md);
    border: 1px solid var(--color-black);
  }
  .gif-section {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs);
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
  }
  .gif-section.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  .thoughtfully-crafted-footwear {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: -0.04em;
    line-height: 29.3px;
    font-family: var(--font-poppins);
    color: var(--color-darkslategray);
    text-align: justify;
    display: inline-block;
    height: 100px;
    flex-shrink: 0;
  }
  .cai-image4-4-container {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    opacity: 0;
  }
  .cai-image4-4-container.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-left;
  }
  .cosy-style-new,
  .full-frame {
    background-color: var(--color-oldlace);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  .cosy-style-new {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-11xs);
    align-items: center;
    gap: var(--gap-4xl);
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-gray-200);
    font-family: var(--font-playfair-display-sc);
  }
  .full-frame {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-2xs);
  }
  @media screen and (max-width: 960px) {
    .perfect-fit1 {
      font-size: var(--font-size-4xl);
    }
    .modeldesc,
    .timeless-and-comfy {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .text-container {
      padding-left: var(--padding-xs);
      padding-right: var(--padding-xs);
      box-sizing: border-box;
    }
    .cai-image2-2-wrapper,
    .text-container {
      flex: unset;
      align-self: stretch;
    }
    .fashion3 {
      flex-direction: column;
      gap: var(--gap-0);
      padding: var(--padding-10xs) 0;
      box-sizing: border-box;
    }
    .cai-image4-4,
    .fashion-meets-comfort {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .text-container1 {
      padding-left: var(--padding-xs);
      padding-right: var(--padding-xs);
      box-sizing: border-box;
    }
    .cai-image4-4-container,
    .text-container1 {
      flex: unset;
      align-self: stretch;
    }
    .cosy-style-new {
      flex-direction: column;
      gap: var(--gap-0);
      padding: var(--padding-10xs) 0;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 420px) {
    .perfect-fit1 {
      font-weight: 700;
      font-family: var(--font-playfair-display-sc);
      font-size: 26px;
      line-height: 40px;
    }
    .perfect-fit {
      padding-left: var(--padding-11xs);
      padding-right: var(--padding-11xs);
      box-sizing: border-box;
    }
    .modeldesc {
      padding: var(--padding-5xs) var(--padding-11xs);
      box-sizing: border-box;
    }
    .a-symphony-of {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .text-container {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--padding-9xs);
      box-sizing: border-box;
    }
    .cai-image2-2-wrapper {
      align-self: stretch;
      height: auto;
      padding-top: var(--padding-5xs);
    }
    .fashion3 {
      gap: var(--gap-0);
    }
    .a-chic-addition,
    .cai-image4-4 {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .text-container1 {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      padding: var(--padding-9xs);
      box-sizing: border-box;
    }
    .gif-section-icon {
      border-radius: 5px;
    }
    .thoughtfully-crafted-footwear {
      align-self: stretch;
      width: auto;
      flex: 1;
    }
    .cai-image4-4-container {
      align-self: stretch;
      height: auto;
      padding-top: var(--padding-5xs);
    }
    .cosy-style-new {
      gap: var(--gap-0);
    }
  }
  @media screen and (max-width: 768px) {
    .modeldesc {
      padding-left: var(--padding-5xs);
      padding-right: var(--padding-5xs);
      box-sizing: border-box;
    }
  }