@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 25px;
  --font-size-lg: 40px;

  /* Colors */
  --color-lightcoral: #de6f6f;
  --color-gray: #1e1e1e;
  --color-darkgray: rgba(169, 168, 171, 0.4);
  --color-white: #fff;

  /* Gaps */
  --gap-0: 0px;

  /* Paddings */
  --padding-md: 10px;
}
