@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 25px;
  --font-size-2xl: 30px;
  --font-size-3xl: 35px;
  --font-size-4xl: 40px;

  /* Colors */
  --color-darkslategray: #042a4f;
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-0: 0px;
  --gap-sm: 10px;
  --gap-md: 33px;
  --gap-lg: 253px;

  /* Paddings */
  --padding-3xs: 8px;
  --padding-2xs: 10px;
  --padding-xs: 25px;
  --padding-sm: 27px;
  --padding-md: 34px;
  --padding-lg: 35px;
  --padding-xl: 40px;
  --padding-2xl: 60px;
  --padding-3xl: 144px;

  /* border radiuses */
  --br-sm: 100px;
  --br-md: 500px;
  --br-lg: 600px;
}